@media all and (max-width: 1024px) {
    .content {
        gap: 50px;
    }

    .content-wrapper {
        padding: 0 25px;
    }
    
    .content-text {
        justify-self: center;
        width: 50%;
    }

    .content-image {
        height: 350px;
        width: 100%;
    }

    .card-container {
        gap: 60px;
    }
}

@media all and (max-width: 810px) {
    header {
        border-radius: 0;
        z-index: 3;
    }

    .slider {
        width: 100vw;
        margin: 0;
        border-radius: 0;
        height: 70vh;
    }

    .slides {
        height: 100%;
    }

    .thumbnail {
        height: 100%;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .thumbnail-text {
        width: 75%;
        margin-bottom: 5%;
        position: absolute;
        bottom: 5%;
        gap: 10px;
        z-index: 2;
        background-color: rgba(190, 206, 243, 0.9);
        font-size: 13px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px 0 15px 0;
        border-radius: 15px;
    }

    .thumbnail-description {
        display: none;
    }

    .thumbnail-image {
        position: absolute;
        top: 0;
        height: 100%;
        width: auto;
        align-self: center;
        justify-content: center;
    }
    
    .thumbnail-image img {
        height: 100%;
        width: auto;
        margin: auto;
    }

    .manual-navigation, .automatic-navigation {
        bottom: 2.5%;
    }
    
    .next-button, .prev-button {
        visibility: visible;
        width: 40px;
        height: auto;
    }

    .content, .content:nth-child(even) {
        gap: 25px;
        flex-direction: column-reverse;
    }

    .content-wrapper {
        padding: 0;
    }
    
    .content-text {
        justify-self: center;
        width: 100%;
        padding: 10px;
        border-radius: 0;
        background-color: transparent;
    }

    .content-image {
        margin-top: 10px;
        width: 350px;
        height: auto;
        align-self: center;
    }

    .content-image img {
        margin: auto;
        align-self: center;
        width: 100%;
        height: auto;
    }

    .vertical-line {
        visibility: hidden;
    }

    .card-container {
        gap: 20px;
    }

    .container {
        padding: 20px 0;
    }

    .insight-img {
        opacity: 1;
    }
}

@media all and (max-width: 600px) {
    nav ul {
        display: none;
    }

    .menu-btn {
        display: flex;
        flex: 1;
        z-index: 2;
    }

    ul.show {
        display: flex;
    }
    
    nav ul {
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    nav ul a {
        font-size: 32px;
    }

    .img-wrapper {
        flex-direction: column;
        border-radius: 0;
        background-color: transparent;
    }

    .insight-img:hover {
        border-radius: 25px;
        transform: scale(1);
    }

    .insight-container {
        padding: 0;
        padding-top: 20px;
    }

    .insight-container .title {
        font-size: 32px;
    }

    .container .team-name {
        font-size: 32px;
    }

    .card-container {
        flex-direction: column;
        gap: 50px;
    }

}
