@media all and (max-width: 1024px) {
    .content {
        gap: 50px;
    }

    .content-wrapper {
        padding: 0 25px;
    }
    
    .content-text {
        justify-self: center;
        width: 50%;
    }

    .content-image {
        height: 350px;
        width: 100%;
    }

    .card-container {
        gap: 60px;
    }
}

@media all and (max-width: 810px) {
    header {
        border-radius: 0;
    }

    .slider {
        height: auto;
        width: 100vw;
        margin: 0;
        border-radius: 0;
    }

    .thumbnail {
        flex-direction: column-reverse;
        width: 20%;
    }

    .thumbnail-text {
        width: 100%;
        margin-bottom: 5%;
    }

    .thumbnail-image {
        height: 500px;
        width: auto;
    }

    .thumbnail-image img {
        height: 100%;
        width: auto;
    }

    .manual-navigation, .automatic-navigation {
        bottom: 2.5%;
    }
    
    .next-button, .prev-button {
        visibility: visible;
    }

    .content, .content:nth-child(even) {
        gap: 25px;
        flex-direction: column-reverse;
    }

    .content-wrapper {
        padding: 0 10px;
    }
    
    .content-text {
        justify-self: center;
        width: 100%;
        /* background-color: whitesmoke; */
        padding: 10px;
        border-radius: 10px;
    }

    .content-image {
        margin-top: 10px;
        width: 350px;
        height: auto;
        align-self: center;
    }

    .content-image img {
        margin: auto;
        align-self: center;
        width: 100%;
        height: auto;
    }

    .vertical-line {
        visibility: hidden;
    }

    .number {
        box-shadow: 0 0 25px #2D6FFA;
    }

    .card-container {
        gap: 20px;
    }

    .container {
        padding: 10px;
    }

    .insight-img {
        opacity: 1;
    }
}

@media all and (max-width: 600px) {
    nav ul {
        display: none;
    }

    /* menu-btn and all child display block */
    .menu-btn {
        display: flex;
        flex: 1;
        z-index: 2;
    }

    ul.show {
        display: flex;
    }
    
    nav ul {
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    nav ul a {
        font-size: 32px;
    }

    .img-wrapper {
        flex-direction: column;
        border-radius: 0;
    }

    .insight-container {
        padding: 20px 0;
    }

    .insight-container .title {
        font-size: 32px;
    }

    .container .team-name {
        font-size: 32px;
    }

    .card-container {
        flex-direction: column;
        gap: 50px;
    }

}
